on: pull_request
name: Pull Request
jobs:
  validate:
    name: Run validations
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.12.x'
      - run: npm ci
      - run: npm ci --workspaces
      - run: npm run prettier --workspaces
      - run: npm run lint --workspaces
      - run: npm run build --workspaces
      - run: npm test --workspaces
